table{
    width: 100%;
    border-collapse: collapse; 
    tr{
        border-bottom:1px solid rgb(128, 128, 128) ;
    }
    tr:nth-of-type(2n+1){
        background-color:rgb(197, 221, 199);
    }
    td,th{
        text-align: right;
        padding: 0.3em;
    }
    th{
        background-color: rgb(89, 138, 96);
        color: white;
    }
    td:last-of-type{
       text-align: left;

    }
}
button{
    background-color: rgb(104, 163, 117);
    color: white ;
    padding: 0.2em 0.4em;
    border: none;
    border-radius: 0.4em;
    margin: 0.2em;
}
.Form2{
        background: #fff;
    padding: 25px 25px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1); 
}