@if(myaction=='list'){
<div>
    <button (click)="onAdd.emit()">add</button>
</div>
<table>
    <thead>
        <tr>
            @for (col of column; track $index) {
            <th>{{col.title}}</th>
            }
            <th></th>
        </tr>
        <!-- <tr>
            <th><input type="text" placeholder="شناسه"></th>
            <th><input type="text" placeholder="عنوان"></th>
            <th><input type="text" placeholder="نویسنده"></th>
            <th><input type="text" placeholder="ناشر"></th>
            <th><input type="text" placeholder="قیمت"></th>
            <th></th>
        </tr> -->
    </thead>
    <tbody>
        @for(i of data; track $index){
        <tr>
            @for (col of column; track $index) {
            <td>{{i[col.field]}}</td>
            }
            <td> <button (click)="onEdit.emit(i)">ویرایش</button>
                <button (click)="onRemove.emit(i)">حذف</button>

            </td>
        </tr>
        }
    </tbody>
</table>
}
@else {
@if (myaction=='remove')
{<div class="alert">آیا از حذف کردن اطمینان دارین</div>}
<form (ngSubmit)="onSave.emit()" class="Form2">
<ng-content></ng-content>
    <div>
        <button type="submit">تایید</button>
        <button (click)="onCancle.emit()" type="submit">انصراف</button>
    </div>
</form>
}