.sidebar {
    background-color: rgb(96, 150, 108);
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
    padding: 0.2em;

    a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.3em 0.5em;
        border-radius: 0.3em;
    }
}

a:hover {
    background-color: rgb(8, 56, 8);
}

.content {
    margin-right: 200px;
    padding: 0.4em;
}